*{
    margin:0;
    padding: 0;
}
a{
    color: #333;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #F5F5F5;
    overflow-x: hidden;
}


/* Footer */


.footer-area {
	background-color: #FAC62B;
	padding: 80px 0 40px 0;
}
  .single-footer h4 {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 900;
  }
  .copy {
	text-align: center;
	margin-top: 60px;
	text-transform: capitalize;
}

.single-footer ul li a {
    color: #4F4F4F;
    font-size: 14px;
  }
  .single-footer ul li {
    line-height: 28px;
  }
  .single-footer p {
    color: #4F4F4F;
    font-size: 14px;
  }
  
.single-footer input[type="text"] {
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 5px;
  }
  .single-footer form {
    position: relative;
  }
  .single-footer {
  }
  .single-footer input[type="submit"] {
	position: absolute;
	right: 0;
	padding: 14px;
	border: 0;
	background-color: #E97B32;
	border-radius: 5px;
	width: 110px;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-weight: 900;
}
  .single-footer img {
	text-align: center;
	margin: 0 auto;
	width: 120px;
	display: block;
	margin-top: 30px;
}
.footer-social {
	margin-top: 14px;
}
.footer-social a {
	margin-right: 10px;
	font-size: 18px;
}

.mainmenu ul li a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
  }
  
.slider-content span {
    display: block;
    font-size: 56px;
    color: #E97B32;
    font-weight: 300;
  }
  .slider-content h1 {
    font-weight: 700;
    color: #E97B32;
    font-size: 85px;
  }
  .slider-content p {
    color: #4F4F4F;
    font-size: 18px;
  }
  .slider-area {
	padding-top: 80px;
	position: relative;
    padding-bottom: 650px;
    overflow: hidden;
}
.slider-area::after {
	content: "";
	position: absolute;
	background-image: url('../images/slider.png');
	width: 50%;
	height: 100%;
	right: -80px;
	top: 40px;
	background-size: cover;
	background-position: top;
} 
.single-service {
    text-align: center;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 35px 20px;
  }
  .single-service p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .section-title {
    text-align: center;
    margin-bottom: 100px;
  }
  .section-title h2 {
    font-weight: 700;
    font-size: 50px;
  }
  .section-title p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
  }
  .service-area {
	margin-top: -300px;
}
.service-area {
	margin-top: -300px;
	padding-bottom: 100px;
}

.about-img img {
    border: 2px solid #FAC62B;
    border-radius: 50%;
  }
  .about-content h4 {
    font-size: 40px;
    font-weight: 700;
    margin: 35px 0;
    position: relative;
    display: inline-block;
    background-color: #F5F5F5;
    padding-right: 20px;
  }
  .about-content h4:after {
    content: "";
    position: absolute;
    background-color: #FAC62B;
    height: 2px;
    width: 80px;
    transform: rotate(90deg);
    right: -40px;
  }
  .about-content {
    position: relative;
    margin-left: 30px;
  }
  .about-content:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FAC62B;
    top: 83px;
    left: 25px;
  }
  .about-content:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 275px;
    background-color: #FAC62B;
    right: -25px;
    top: 85px;
  }
  .about-content p {
    color: #4F4F4F;
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    line-height: 34px;
  }
  .about-content span {
    display: block;
    text-align: right;
    font-weight: 900;
    font-size: 20px;
    margin-top: 50px;
  }
  .about-area {
    padding: 80px 0;
  }
  
.cta {
    border-radius: 5px;
    background-color: #fff;
    padding: 40px 60px;
  }
  .cta-content h4 {
    color: #4F4F4F;
    font-size: 90px;
    font-weight: 900;
  }
  .cta-content h4 span {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
  }
  .cta-content {
    text-align: center;
    border-right: 1px solid #ddd;
    margin-right: 10px;
    padding-right: 10px;
  }
  .cta-left {
    display: flex;
    align-items: center;
    margin-right: 26px;
  }
  .cta-content p {
    font-size: 24px;
  }
  .cta-left p {
    font-size: 18px;
  }
  .cta-area {
    margin: 40px 0;
  }
  
.business-title {
    text-align: center;
  }
  .business-title h4 {
    font-size: 36px;
    font-weight: 700;
  }
  .business-title a {
    color: #fff;
    font-weight: 700;
    background-color: #E97B32;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 10px;
  }
  .single-business {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
  }
  .single-business span {
    display: block;
    font-size: 24px;
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .single-business p {
    font-size: 18px;
  }
  .business-area {
	padding: 80px 0;
	margin-top: 150px;
	position: relative;
	margin-bottom: 30px;
}
  .business-area::before {
	position: absolute;
	content: "";
	background-color: white;
	width: 106%;
	padding: 200px;
	top: 0;
	left: -20px;
	transform: rotate(3deg);
}